.main {
  width: 100%;
  margin: 0 auto;
}

.container {
  width: 100%;
  max-width: 520px;
  margin: 0 auto;
}

.content {
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
}

.loadMoreSection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 28px 0;
}

.placeholder {
  margin: 20px 0;
}

@media (max-width: 600px) {
  .main {
    padding: 0 16px;
  }
}